.App {
  text-align: center;
  margin:  0px;
  padding: 0px;
}

header {
  background-color: black;
  height: 0px;
}

body{
    background: black;
}

#homeButton {
  height: 90px;
  width: 110px;
  background: linear-gradient(#B98BFF, black);
  z-index: 1;
  position: absolute;
  display: block;
}

#bloc-jams-logo {
  height: 100px;
  width: 140px;
  position: relative;
  top: -50px;
  left: -5px;
}

nav {
  background: linear-gradient(#B98BFF, black);
  position: relative;
  height: 90px;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0px;

}

button {
  padding-top: 50px;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;

}

button:hover {
  color: yellow;
}

button:active, button:focus {
  outline: 0;
}

#libraryButton:active, #libraryButton:focus {
  opacity: 0;
  outline: 0;
}
